* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}


.menu-lateral {
    position: fixed;
    left: 0;
    top: 161px;
    width: 200px;
    height: 50vh;
    background: #58acf4;
    color: black;
    border-radius: 6px;
    padding: 2px;
}

.menu-lateral-titulo {
    text-align: center;
    margin-bottom: 20px;
}

.menu-lateral-lista {
    list-style: none;
    padding: 0;
}

.menu-lateral-item {
    padding: 15px 20px;
}

.menu-lateral-item a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.menu-lateral-item:hover {
    background: #457b9d;
}

.contenido {
    margin-left: 200px;
    width: calc(100% - 200px);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "cabecera"
        "seccion"
        "pie";
}

.header {
    grid-area: cabecera;
    width: 100vw;
    background: #58acf4;
    
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
}


.contenedor {
    
    margin-top: 160px;
    background: #58acf4;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 6px;
}


.footer {
    grid-area: pie;
    width: 100vw;
    background: #58acf4;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}


.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.tarjeta {
    background: #e5e9ff;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #e5e9ff;
}

.tarjeta:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}
