.liquid-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f6f8;
    padding: 30px;
}

h1 {
    text-align: center;
}

.formulario {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto 30px auto;
}


.formulario.liquid-glass {
    background: rgba(255, 255, 255, 0.945);
}

.formulario input,
.formulario textarea {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-notas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.nota {
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.nota.liquid-glass {
    background: rgba(255, 255, 255, 0.25);
}

.nota.importante {
    background-color: rgba(153, 59, 246, 0.6);
    color: white;
}

.nota h3 {
    margin: 0 0 10px 0;
}

.iconos {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}