* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: purple;
}


@media (min-width: 500px) and (max-width: 600px) {
    body {
        background-color: orange;
    }
}

@media (min-width: 601px), (max-width: 800px) {

}